
  .a78qk {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .a78qktitle {
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .a78qktitlebody {
    color: #fff;
    width: var(--max);
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
  }

  .a78qktitlebodytitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .a78qktitlebodylang {
    width: auto;
    margin: -5px 0px -5px 0px;
  }

  .a78qktitlebodylang ul {
    display: flex;
    gap: 5px;
  }

  .a78qkbody {
    width: var(--max);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 5px 0px;
  }

  .a78qkmenu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: var(--max);
  }

  .a78qkmenulist {
    width: calc(100% - 20px);
    background-color: #e31524;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .a78qkmenubody {
    width: 100%;
    background-color: #e31524;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .a78qkmenulist ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    overflow-x: auto;
  }

  .a78qkmenulist ul a {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
  }

  .a78qkmenulist ul a:hover {
    background-color: #fff;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
  }

  .a78qk-menu-list-active {
    background-color: #fff;
    border-radius: 5px;
      color: #000 !important;
    cursor: pointer;
  }

  .a78qkmenulistbody {
    width: 100%;
  }

  @media screen and (min-width: 1024px) {
    .a78qkbodylogo {
      height: 100px;
      max-width: 90vw;
      max-height: 100px;
    }
  }

  @media screen and (max-width: 1024px) {
    .a78qkmenu {
      overflow-x: auto;
    }

    .a78qkmenulist ul {
      flex-direction: row;
    }

    .a78qkbodylogo {
      width: 50vw;
      max-width: 50vw;
      max-height: 100px;
    }
  }

  @media screen and (max-width: 768px) {
    .a78qkmenulist ul a {
      font-size: 14px;
    }
  }


  #content {
    justify-content: start;
  }

  .ku4ak {
    width: var(--max);
    margin-top: 20px;
    gap: 10px;
    float: left;
    position: relative;
  }

  .ku4ak-menu-btn {
    display: none;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    justify-content: space-between;
    align-items: center;
  }

  .ku4ak-menu-btn i {
    font-size: 20px;
  }

  .ku4ak-menu {
    width: 200px;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    float: left;
  }

  .ku4ak-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    float: right;
  }

  .ku4ak-menu > a {
    background-color: #fff;
    padding: 10px;
    float: left;
    border-radius: 5px;
  }

  .ku4ak-menu > .active,
  .ku4ak-menu > a:hover {
    background-color: #000;
    color: #fff;
    display: flex;
  }

  .ku4ak-desc-menu {
    width: 200px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }

  .ku4ak-desc-menu > div {
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    margin: 5px;
  }

  .ku4ak-desc-body {
    display: flex;
    justify-content: space-between;
  }

  .ku4ak-title {
    width: 100%;
    height: 100px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .ku4ak-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/page/termal_kagit_029/bg/{{bgimg}}");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: 1;
  }

  .ku4ak-title span {
    position: relative;
    z-index: 2;
    font-size: 32px;
  }

  .ku4ak-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
  }

  .ku4ak-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--max) - 460px);
  }

  .ku4ak-img img {
    width: 100%;
  }

  @media screen and (min-width: 1024px) {
    .ku4ak-desc {
      width: calc(var(--max) - 240px);
    }
  }

  @media screen and (max-width: 1024px) {
    .ku4ak-menu-btn {
      display: flex;
      width: calc(100% - 55px);
      margin-left: 5px;
    }

    .ku4ak {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 5px;
      gap: 5px;
      margin-top: 0px;
    }

    .ku4ak-img {
      width: 100%;
    }

    .ku4ak-body {
      width: 100%;
      order: 3;
      padding: 10px;
    }

    .ku4ak-menu {
      width: 100%;
      float: none;
      flex-direction: column;
      order: 1;
      display: none;
    }

    .ku4ak-menu.active {
      display: flex;
    }

    .ku4ak-desc {
      width: 100% !important;
      order: 2;
    }
  }


  .moduleimg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .moduleimg > img {
    width: 100%;
    max-width: 250px;
  }

  .footer {
    position: relative;
    background: #e31524;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
  }

  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .social-icon__item,
  .menu__item {
    list-style: none;
  }

  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }

  .social-icon__link:hover {
    transform: translateY(-10px);
  } 

  .menu__link {
    font-size: 1.2rem;
    color: #fff !important;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }

  .menu__link:hover {
    opacity: 1;
  }

  .footer p { 
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }

  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='katman_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 640 65' style='enable-background:new 0 0 640 65;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23e31524;%7D %3C/style%3E %3Cpath class='st0' d='M0,22.4C0,22.4,74.1,0,153,0c176.5,0,328.1,76.6,487,22.4V65H0V22.4z'/%3E%3C/svg%3E");
    background-size: 1000px 102px;
  }

  .wave#wave1 {
    z-index: 100;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }

  .wave#wave2 {
    z-index: 99;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }

  .wave#wave3 {
    z-index: 100;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }

  .wave#wave4 {
    z-index: 99;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }

  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

